<b>1. Create a function that takes a number as an argument and returns True or False depending on whether the number is<br/> symmetrical or not. A number is symmetrical when it is the same as its reverse.<br/>
Examples:<br/>
is_symmetrical(7227) ➞ True<br/>
is_symmetrical(12567) ➞ False<br/>
is_symmetrical(44444444) ➞ True<br/>
is_symmetrical(9939) ➞ False<br/>
is_symmetrical(1112111) ➞ True<br/>
</b>

In [2]:
def is_symmetrical(in_num):
    in_num = str(in_num)
    if in_num == in_num[::-1]:
        return True
    else:
        return False

print(f'is_symmetrical(7227) ➞ {is_symmetrical(7227)}')
print(f'is_symmetrical(12567) ➞ {is_symmetrical(12567)}')
print(f'is_symmetrical(44444444) ➞ {is_symmetrical(44444444)}')
print(f'is_symmetrical(9939) ➞ {is_symmetrical(9939)}')
print(f'is_symmetrical(1112111) ➞ {is_symmetrical(1112111)}')

is_symmetrical(7227) ➞ True
is_symmetrical(12567) ➞ False
is_symmetrical(44444444) ➞ True
is_symmetrical(9939) ➞ False
is_symmetrical(1112111) ➞ True

<br/>

In [ ]:
<b>2. Given a string of numbers separated by a comma and space, return the product of the numbers.
Examples:
multiply_nums("2, 3") ➞ 6
multiply_nums("1, 2, 3, 4") ➞ 24
multiply_nums("54, 75, 453, 0") ➞ 0
multiply_nums("10, -2") ➞ -20
</b>

In [11]:
def multiply_nums(in_string):
    split_string = in_string.split(',')
    out_num = 1
    for el in split_string:
        out_num *= int(el)
    return out_num    
    
print(f'multiply_nums("2, 3") ➞ {multiply_nums("2, 3")}')
print(f'multiply_nums("1, 2, 3, 4") ➞ {multiply_nums("1, 2, 3, 4")}')
print(f'multiply_nums("54, 75, 453, 0") ➞ {multiply_nums("54, 75, 453, 0")}')
print(f'multiply_nums("10, -2") ➞ {multiply_nums("10, -2")}')

multiply_nums("2, 3") ➞6
multiply_nums("1, 2, 3, 4") ➞24
multiply_nums("54, 75, 453, 0") ➞0
multiply_nums("10, -2") ➞-20

<br/>

<b>3. Create a function that squares every digit of a number.<br/>
Examples:<br/>
square_digits(9119) ➞ 811181<br/>
square_digits(2483) ➞ 416649<br/>
square_digits(3212) ➞ 9414<br/>

Notes:<br/>
The function receives an integer and must return an integer.<br/>
</b>

In [14]:
def square_digits(in_num):
    in_list = [str(int(el)**2) for el in str(in_num)]
    out_list = ''.join(in_list)
    return out_list
    
print(f'square_digits(9119) ➞ {square_digits(9119)}')
print(f'square_digits(2483) ➞ {square_digits(2483)}')
print(f'square_digits(3212) ➞ {square_digits(3212)}')

square_digits(9119) ➞ 811181
square_digits(2483) ➞ 416649
square_digits(3212) ➞ 9414

<br/>

<b>4. Create a function that sorts a list and removes all duplicate items from it.<br/>
Examples:<br/>
setify([1, 3, 3, 5, 5]) ➞ [1, 3, 5]<br/>
setify([4, 4, 4, 4]) ➞ [4]<br/>
setify([5, 7, 8, 9, 10, 15]) ➞ [5, 7, 8, 9, 10, 15]<br/>
setify([3, 3, 3, 2, 1]) ➞ [1, 2, 3]<br/>
</b>

In [16]:
def setify(in_list):
    out_list = sorted(set(in_list))
    return out_list

in_list = [1, 3, 3, 5, 5]
print(f'setify({in_list}) ➞ {setify(in_list)}')

in_list = [4, 4, 4, 4]
print(f'setify({in_list}) ➞ {setify(in_list)}')    

in_list = [5, 7, 8, 9, 10, 15]
print(f'setify({in_list}) ➞ {setify(in_list)}') 

in_list = [3, 3, 3, 2, 1]
print(f'setify({in_list}) ➞ {setify(in_list)}')

setify([1, 3, 3, 5, 5]) ➞ [1, 3, 5]
setify([4, 4, 4, 4]) ➞ [4]
setify([5, 7, 8, 9, 10, 15]) ➞ [5, 7, 8, 9, 10, 15]
setify([3, 3, 3, 2, 1]) ➞ [1, 2, 3]

<br/>

<b>5. Create a function that returns the mean of all digits.<br/>
Examples:<br/>
mean(42) ➞ 3<br/>
mean(12345) ➞ 3<br/>
mean(666) ➞ 6<br/>

Notes:<br/>
1.The mean of all digits is the sum of digits / how many digits there are (e.g. mean of digits in 512 is (5+1+2)/3(number of digits) = 8/3=2).<br/>
2.The mean will always be an integer.<br/>
</b>

In [18]:
def mean(in_num):
    in_list = [int(el) for el in str(in_num)]
    out_num = sum(in_list)/len(in_list)
    return round(out_num,2) 

print(f'mean(42) ➞ {mean(42)}')
print(f'mean(12345) ➞ {mean(12345)}')
print(f'mean(666) ➞ {mean(666)}')

mean(42) ➞ 3.0
mean(12345) ➞ 3.0
mean(666) ➞ 6.0