<b>1. Write a Python program to find sum of elements in list?</b>

In [5]:
def sum_list(L):
    total = 0
    for i in L:
        total+= i
    return total


L = [1,2,3,4,5]
print(f'sum of elements in {L} is',sum_list(L))

L = [10,20,30.50]
print(f'sum of elements in {L} is',sum_list(L))

sum of elements in [1, 2, 3, 4, 5] is 15
sum of elements in [10, 20, 30.5] is 60.5

<br/>

<b>2. Write a Python program to Multiply all numbers in the list?</b>

In [6]:
def multiply_list(L):
    result = 1
    for i in L:
        result = result * i
    return result
 
 
list1 = [1, 2, 3]
list2 = [5,6]
print(multiply_list(list1))
print(multiply_list(list2))

6
30

<br/>

<b>3. Write a Python program to find smallest number in a list?</b>

In [16]:
def smallest(L):
    L.sort()
    return L[0]

list1 = [1,-5,2.5,100] 
print(f"smallest number in {list1} is", smallest(list1))
list2 = [100,10,2.5,78] 
print(f"smallest number in {list2} is", smallest(list2))

smallest number in [1, -5, 2.5, 100] is -5
smallest number in [100, 10, 2.5, 78] is 2.5

<br/>

<b>4. Write a Python program to find largest number in a list?</b>

In [19]:
def largest(L):
    L.sort()
    return L[-1]
 

list1 = [1,-5,2.5,100] 
print(f"largest number in {list1} is", largest(list1))
list2 = [100,105,2.5,78] 
print(f"largest number in {list2} is", largest(list2))

largest number in [1, -5, 2.5, 100] is 100
largest number in [100, 105, 2.5, 78] is 105

<br/>

<b>5. Write a Python program to find second largest number in a list?</b>

In [25]:
def second_largest(L):
    # Removing duplicates from the list
    L = list(set(L))

    # Sorting the  list
    L.sort()
   
    # return the second last element
    return L[-2]

list1 = [1,-5,2.5,100] 
print(f"second largest number in {list1} is", second_largest(list1))
list2 = [100,105,2.5,78,105,100] 
print(f"second largest number in {list2} is", second_largest(list2))

second largest number in [1, -5, 2.5, 100] is 2.5
second largest number in [100, 105, 2.5, 78, 105, 100] is 100

<br/>

<b>6. Write a Python program to find N largest elements from a list?</b>

In [2]:
def n_largest_elements(L,N):
    # Removing duplicates from the list
    L = list(set(L))

    # Sorting the  list
    L.sort(reverse=True)
    # or L = sorted(L, reverse=True)
       
    # return the N largest element
    return L[:N]

list1 = [1,-5,2.5,100] 
print(f"2 largest elements in {list1} are", n_largest_elements(list1,2))
list2 = [100,105,2.5,78,105,100] 
print(f"3 largest elements in {list2} are", n_largest_elements(list2,3))

2 largest elements in [1, -5, 2.5, 100] are [100, 2.5]
3 largest elements in [100, 105, 2.5, 78, 105, 100] are [105, 100, 78]

<br/>

<b>7. Write a Python program to print even numbers in a list?</b>

In [4]:
def even_numbers(L):
    result = []
    for i in L:
        if i%2==0:
            result.append(i)
    print(f'Even numbers in {L} are', result)    

list1 = [1,5,2,4,100]
even_numbers(list1)

list2 = [11,44,72,23,69]
even_numbers(list2)

Even numbers in [1, 5, 2, 4, 100] are [2, 4, 100]
Even numbers in [11, 44, 72, 23, 69] are [44, 72]

<br/>

<b>8. Write a Python program to print odd numbers in a List?</b>

In [6]:
def odd_numbers(L):
    result = []
    for i in L:
        if i%2!=0:
            result.append(i)
    print(f'Odd numbers in {L} are', result)    

list1 = [1,5,2,4,100]
odd_numbers(list1)

list2 = [11,44,72,23,69]
odd_numbers(list2)

Odd numbers in [1, 5, 2, 4, 100] are [1, 5]
Odd numbers in [11, 44, 72, 23, 69] are [11, 23, 69]

<br/>

<b>9. Write a Python program to Remove empty List from List?</b>

In [21]:
def remove_empty(L):
    result = [el for el in L if el != []]
    #or 
    #result = [el for el in L if el]
    return result

list1 = [1,400,[],62,[],787]
print(f"List {list1} after removing empty list :", remove_empty(list1))

list2 = [[],4,[],5,[],444,55,555]
print(f"List {list2} after removing empty list :", remove_empty(list2))

List [1, 400, [], 62, [], 787] after removing empty list : [1, 400, 62, 787]
List [[], 4, [], 5, [], 444, 55, 555] after removing empty list : [4, 5, 444, 55, 555]

<br/>

<b>10. Write a Python program to Cloning or Copying a list?</b>

In [26]:
def Cloning(L):
    l_copy = L.copy()
    return l_copy

list1 = [151,5,2,4,100]
cloning_list1 = Cloning(list1)
print(f'After cloning list {list1}, the list is {cloning_list1}')

After cloning list [151, 5, 2, 4, 100], the list is [151, 5, 2, 4, 100]

<br/>

<b>11. Write a Python program to Count occurrences of an element in a list?</b>

In [31]:
def count_occurrence(L, x):
    return L.count(x)


list1 = [1,45,89,45,888,45]
print(f'Number of occurrence of 45 in {list1} is {count_occurrence(list1,45)}')
list2 = [11,454,89,45,89,45]
print(f'Number of occurrence of 89 in {list2} is {count_occurrence(list2,45)}')

Number of occurrence of 45 in [1, 45, 89, 45, 888, 45] is 3
Number of occurrence of 89 in [11, 454, 89, 45, 89, 45] is 2