<b>1. Write a function that takes a list and a number as arguments. Add the number to the end of the list, then remove the first <br/>element of the list. The function should then return the updated list.<br/>
Examples:<br/>
next_in_line([5, 6, 7, 8, 9], 1) ➞ [6, 7, 8, 9, 1]<br/>
next_in_line([7, 6, 3, 23, 17], 10) ➞ [6, 3, 23, 17, 10]<br/>
next_in_line([1, 10, 20, 42 ], 6) ➞ [10, 20, 42, 6]<br/>
next_in_line([], 6) ➞ "No list has been selected"<br/>
</b>

In [23]:
def next_in_line(in_list,in_num):
    if len(in_list) > 1:
        in_list.append(in_num)
        in_list.remove(in_list[0])
        return in_list
    else:
        return "No list has been selected"

in_list, in_num = [5, 6, 7, 8, 9], 1   
print(f'next_in_line({in_list}, {in_num}) ➞ {next_in_line(in_list,in_num)}')

in_list, in_num = [7, 6, 3, 23, 17], 10  
print(f'next_in_line({in_list}, {in_num}) ➞ {next_in_line(in_list,in_num)}')

in_list, in_num = [1, 10, 20, 42 ], 6   
print(f'next_in_line({in_list}, {in_num}) ➞ {next_in_line(in_list,in_num)}')

in_list, in_num = [], 6   
print(f'next_in_line({in_list}, {in_num}) ➞ {next_in_line(in_list,in_num)}')

next_in_line([5, 6, 7, 8, 9], 1) ➞ [6, 7, 8, 9, 1]
next_in_line([7, 6, 3, 23, 17], 10) ➞ [6, 3, 23, 17, 10]
next_in_line([1, 10, 20, 42], 6) ➞ [10, 20, 42, 6]
next_in_line([], 6) ➞ No list has been selected

<br/>

<b>2. Create the function that takes a list of dictionaries and returns the sum of people's budgets.<br/>
Examples:<br/>
get_budgets([ { "name": "John", "age": 21, "budget": 23000 }, { "name": "Steve", "age": 32, "budget": 40000 }, { "name": "Martin", "age": 16, "budget": 2700 } ]) ➞ 65700<br/>

get_budgets([ { "name": "John", "age": 21, "budget": 29000 }, { "name": "Steve", "age": 32, "budget": 32000 }, { "name": "Martin", "age": 16, "budget": 1600 } ]) ➞ 62600<br/>
</b>

In [13]:
def get_budgets(in_dict):
    sum = 0
    for el in in_dict:
        sum += el["budget"]
    return sum    
    
print(get_budgets([
{ "name": "John", "age": 21, "budget": 23000 },
{ "name": "Steve", "age": 32, "budget": 40000 },
{ "name": "Martin", "age": 16, "budget": 2700 }
]))

print(get_budgets([
{ "name": "John", "age": 21, "budget": 29000 },
{ "name": "Steve", "age": 32, "budget": 32000 },
{ "name": "Martin", "age": 16, "budget": 1600 }
]))

65700
62600

<br/>

3. <b>Create a function that takes a string and returns a string with its letters in alphabetical order.<br/>
Examples:<br/>
alphabet_soup("hello") ➞ "ehllo"<br/>
alphabet_soup("edabit") ➞ "abdeit"<br/>
alphabet_soup("hacker") ➞ "acehkr"<br/>
alphabet_soup("geek") ➞ "eegk"<br/>
alphabet_soup("javascript") ➞ "aacijprstv"<br/>
</b>

In [10]:
def alphabet_soup(in_string):
    out_string = ''.join(sorted(in_string))
    return out_string
    print(f'{in_string} ➞ {out_string}')
    
in_string = "hello"    
print(f'alphabet_soup("{in_string}") ➞ {alphabet_soup(in_string)}')

in_string = "edabit"    
print(f'alphabet_soup("{in_string}") ➞ {alphabet_soup(in_string)}')

in_string = "hacker"    
print(f'alphabet_soup("{in_string}") ➞ {alphabet_soup(in_string)}')

in_string = "geek"    
print(f'alphabet_soup("{in_string}") ➞ {alphabet_soup(in_string)}')

in_string = "javascript"    
print(f'alphabet_soup("{in_string}") ➞ {alphabet_soup(in_string)}')

alphabet_soup("hello") ➞ ehllo
alphabet_soup("edabit") ➞ abdeit
alphabet_soup("hacker") ➞ acehkr
alphabet_soup("geek") ➞ eegk
alphabet_soup("javascript") ➞ aacijprstv

<br/>

<b>4. What will be the value of your investment at the end of the 10 year period?<br/>
Create a function that accepts the principal p, the term in years t, the interest rate r, and the number of compounding periods<br/> per year n. The function returns the value at the end of term rounded to the nearest cent.<br/>

For the example above:<br/>
compound_interest(10000, 10, 0.06, 12) ➞ 18193.97<br/>
Note that the interest rate is given as a decimal and n=12 because with monthly compounding there are 12 periods per year.<br/> Compounding can also be done annually, quarterly, weekly, or daily.<br/>

Examples:<br/>
compound_interest(100, 1, 0.05, 1) ➞ 105.0<br/>
compound_interest(3500, 15, 0.1, 4) ➞ 15399.26<br/>
compound_interest(100000, 20, 0.15, 365) ➞ 2007316.26<br/>
</b>

In [6]:
def compound_interest(p,t,r,cp):
    ci = p*(1+(r/cp))**(cp*t)
    print(f'Output ➞ {ci:.2f}')

compound_interest(100, 1, 0.05, 1)
compound_interest(3500, 15, 0.1, 4)
compound_interest(100000, 20, 0.15, 365)

Output ➞ 105.00
Output ➞ 15399.26
Output ➞ 2007316.26

<br/>

<b>5. Write a function that takes a list of elements and returns only the integers.<br/>
Examples:<br/>
return_only_integer([9, 2, "space", "car", "lion", 16]) ➞ [9, 2, 16]<br/>
return_only_integer(["hello", 81, "basketball", 123, "fox"]) ➞ [81, 123]<br/>
return_only_integer([10, "121", 56, 20, "car", 3, "lion"]) ➞ [10, 56, 20,3]<br/>
return_only_integer(["String", True, 3.3, 1]) ➞ [1]
</b>

In [4]:
def return_only_integer(in_list):
    return list(filter(lambda x: type(x)==int, in_list))

in_list = [9, 2, "space", "car", "lion", 16]
print(f'return_only_integer({in_list}) ➞ {return_only_integer(in_list)}')

in_list = ["hello", 81, "basketball", 123, "fox"]
print(f'return_only_integer({in_list}) ➞ {return_only_integer(in_list)}')

in_list = [10, "121", 56, 20, "car", 3, "lion"]
print(f'return_only_integer({in_list}) ➞ {return_only_integer(in_list)}')

in_list = ["String", True, 3.3, 1]
print(f'return_only_integer({in_list}) ➞ {return_only_integer(in_list)}')

return_only_integer([9, 2, 'space', 'car', 'lion', 16]) ➞ [9, 2, 16]
return_only_integer(['hello', 81, 'basketball', 123, 'fox']) ➞ [81, 123]
return_only_integer([10, '121', 56, 20, 'car', 3, 'lion']) ➞ [10, 56, 20, 3]
return_only_integer(['String', True, 3.3, 1]) ➞ [1]